/* containerSize.css */
.container-size {
    display: grid;
    gap: 16px;
    /* Espaço entre os itens */
    margin: 16px;
    padding: 16px;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    /* Ajuste automático com base na largura */
    grid-template-rows: auto;
    transition: all 0.3s ease;
}

@media (min-width: 600px) {
    .container-size {
        margin-left: 8em;
    }
}